@import url('https://fonts.googleapis.com/css?family=Krona+One');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Krona One', sans-serif;
  margin: 0;
  background: url('https://images.unsplash.com/photo-1518409274682-1cb2fe2955a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b6ce2d94a6218709710dd8f604c62425&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
}

.ui-sortable {
  min-height: 80px;
}
.btn-danger {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 20px;
  line-height: 12px;
  padding: 3px;
  font-size: 12px;
  text-transform: uppercase; }
/* TABLICA */
.board {
  text-align: center;
  width: 90%;
}
.board h1 {
  margin: 20px;
  margin-left: 8px;
  font-size: 60px;
  color: #119db9;
 
}
.create-column {
  margin: 20px;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* KOLUMNY */
.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  border-radius: 5%;
  background-color: #ffcc00;
  margin-left: 8px;
  list-style: none;
  position: relative;
  padding: 5px;
  margin: 10px;
}
.column-title {
  font-size: 28px;
  margin: 10px 50px 10px 10px;
}
.column-add-card {
  cursor: pointer;
  text-decoration: none;
  margin: 10px 8px;
  display: block;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
  background: #a5dcf7;
  border-radius: 5%;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  text-align: left;
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
